{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guitar Tab</title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>BIG BASS TABS <small>All the Bass Tabs Worth Tabbing</small></h1>
      </div>
      <form class="" action="">
        <input type="text" name="artist" value="" placeholder="Search by Artist Name">
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
      <br>
      <form class="" action="">
        <input type="text" name="song" value="" placeholder="Search by Song Name">
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
      {% autoescape off %}
      <div class="page-header">
        <h2>{{ artist_title }}</h2>
        <h2>{{ song_title }}</h2>
      </div>
        <div class="row">
          <div class="col-lg-5">
            <h4>{{ results }}</h4>
          </div>
        </div>
      {% endautoescape %}
    </div>
  </body>
</html>
